{{ inventory_hostname }},{{ ansible_default_ipv4.address }},{{ ansible_default_ipv4.macaddress }},"{{ ansible_all_ipv4_addresses|join(',') }}",{{ ansible_distribution }},{{ ansible_distribution_version }},"{{ ansible_kernel }}"
